# Measure of central tendency

In [2]:
# Mean(Average)
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [4]:
import numpy as np
np.mean(age) # it will calculate the mean of the age

41.416666666666664

In [5]:
weights=[54,45,34,54,67,56]

In [6]:
np.mean(weights)

51.666666666666664

In [9]:
import seaborn as sns
df=sns.load_dataset('tips')

In [10]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [11]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
np.mean(df['total_bill'])

19.78594262295082

In [15]:
# Median
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [17]:
np.median(age)

44.0

# Aisa karte hai ages mei outlier put karte hai

In [25]:
age=[12,21,23,45,65,43,56,45,32,67,54,34,100] # here 100 is outlier

In [26]:
np.mean(age)

45.92307692307692

In [27]:
np.median(age)

45.0

In [28]:
# Median hum waha use karte hai jaha outlier hote hai

# Concept of Mode

In [29]:
from scipy import stats # library for mode finding

In [30]:
stats.mode(age)

/tmp/ipykernel_128/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))