# Covariance And Correlation

In [6]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [7]:
pd.set_option('display.max_rows',274)

In [8]:
import seaborn as sns

In [9]:
df=sns.load_dataset('healthexp')

In [10]:
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
5    1971         Canada       313.391             72.8
6    1971        Germany       298.251             70.8
7    1971  Great Britain       134.172             71.9
8    1971          Japan       163.854             72.9
9    1971            USA       357.988             71.2
10   1972        Germany       337.364             71.0
11   1972          Japan       185.390             73.2
12   1972            USA       397.097             71.2
13   1973        Germany       384.541             71.3
14   1973          Japan       205.778             73.4
15   1973            USA       439.302             71.4
16   1974        Germany       452.744             71.5
17   1974          Japan       242.018             73.7
18   1974            USA       495.114             72.0
19   1975        Germany       532.481             71.4
20   1975         France       363.610             73.0
21   1975          Japan       284.269             74.3
22   1975            USA       560.750             72.7
23   1976         Canada       543.337             73.8
24   1976        Germany       591.098             71.8
25   1976          Japan       303.725             74.8
26   1976            USA       638.851             72.9
27   1977        Germany       647.352             72.5
28   1977          Japan       340.628             75.3
29   1977            USA       726.241             73.3
30   1978        Germany       729.457             72.4
31   1978          Japan       392.577             75.7
32   1978            USA       808.884             73.5
33   1979         Canada       692.269             75.1
34   1979        Germany       800.703             72.8
35   1979          Japan       452.931             76.2
36   1979            USA       908.963             73.9
37   1980         Canada       791.812             75.2
38   1980        Germany       908.166             72.9
39   1980         France       659.826             74.3
40   1980  Great Britain       385.099             73.2
41   1980          Japan       535.016             76.1
42   1980            USA      1036.300             73.7
43   1981         Canada       898.807             75.5
44   1981        Germany      1014.713             73.2
45   1981  Great Britain       433.957             73.8
46   1981          Japan       603.965             76.5
47   1981            USA      1191.537             74.1
48   1982         Canada       996.086             75.6
49   1982        Germany      1044.528             73.5
50   1982  Great Britain       448.477             74.1
51   1982          Japan       664.777             76.9
52   1982            USA      1329.669             74.5
53   1983         Canada      1066.746             75.9
54   1983        Germany      1104.594             73.8
55   1983  Great Britain       501.924             74.3
56   1983          Japan       714.857             77.0
57   1983            USA      1451.945             74.6
58   1984         Canada      1135.020             76.2
59   1984        Germany      1196.560             74.3
60   1984  Great Britain       521.522             74.5
61   1984          Japan       745.981             77.4
62   1984            USA      1590.667             74.7
63   1985         Canada      1212.850             76.3
64   1985        Germany      1298.555             75.0
65   1985         France      1001.145             75.4
66   1985  Great Britain       549.608             74.7
67   1985          Japan       818.382             77.6
68   1985            USA      1735.156             74.7
69   1986         Canada      1278.816             76.5
70   1986        Germany      1386.510             75.2
71   1986  Great Britain       578.610             74.8
72   1986          Japan       859.855             78.1
73   1986            USA      1847.773             74.7
74   1987         Canada      1357.453             76.7
75   1987        Germany      1480.096             75.6
76   1987  Great Britain       634.956             75.2
77   1987          Japan       916.703             78.5
78   1987            USA      1976.166             74.9
79   1988         Canada      1461.300             76.8
80   1988        Germany      1616.349             75.9
81   1988  Great Britain       688.049             75.3
82   1988          Japan       969.251             78.4
83   1988            USA      2195.392             74.9
84   1989         Canada      1579.543             77.1
85   1989        Germany      1596.160             76.0
86   1989  Great Britain       739.714             75.4
87   1989          Japan      1021.247             78.8
88   1989            USA      2424.654             75.1
89   1990         Canada      1699.774             77.3
90   1990        Germany      1724.332             77.3
91   1990         France      1459.110             77.0
92   1990  Great Britain       782.612             75.7
93   1990          Japan      1088.959             78.9
94   1990            USA      2684.984             75.3
95   1991         Canada      1805.209             77.6
96   1991         France      1558.033             77.2
97   1991  Great Britain       842.797             75.9
98   1991          Japan      1166.430             79.1
99   1991            USA      2901.589             75.5
100  1992         Canada      1897.456             77.8
101  1992        Germany      2019.308             76.1
102  1992         France      1651.139             77.5
103  1992  Great Britain       930.701             76.3
104  1992          Japan      1253.415             79.2
105  1992            USA      3100.343             75.7
106  1993         Canada      1930.889             77.8
107  1993        Germany      2040.313             76.1
108  1993         France      1753.485             77.5
109  1993  Great Britain       995.728             76.2
110  1993          Japan      1332.213             79.4
111  1993            USA      3286.558             75.5
112  1994         Canada      1962.196             77.9
113  1994        Germany      2188.676             76.5
114  1994         France      1817.042             78.0
115  1994  Great Britain      1058.680             76.8
116  1994          Japan      1420.271             79.8
117  1994            USA      3432.101             75.7
118  1995         Canada      1984.944             78.0
119  1995        Germany      2349.145             76.6
120  1995         France      2100.918             78.1
121  1995  Great Britain      1094.034             76.7
122  1995          Japan      1413.445             79.6
123  1995            USA      3586.745             75.7
124  1996         Canada      1999.778             78.2
125  1996        Germany      2480.217             76.9
126  1996         France      2169.451             78.2
127  1996  Great Britain      1171.591             76.9
128  1996          Japan      1436.372             80.3
129  1996            USA      4158.928             76.1
130  1997         Canada      2091.997             78.3
131  1997        Germany      2496.201             77.3
132  1997         France      2236.595             78.6
133  1997  Great Britain      1507.352             77.2
134  1997          Japan      1529.586             80.5
135  1997            USA      3894.282             76.5
136  1998         Canada      2200.468             78.6
137  1998        Germany      2566.003             77.7
138  1998         France      2321.931             78.8
139  1998  Great Britain      1572.097             77.3
140  1998          Japan      1571.107             80.6
141  1998            USA      4061.536             76.7
142  1999         Canada      2278.254             78.8
143  1999        Germany      2697.878             77.9
144  1999         France      2431.303             78.9
145  1999  Great Britain      1683.905             77.5
146  1999          Japan      1667.922             80.5
147  1999            USA      4261.996             76.7
148  2000         Canada      2450.593             79.1
149  2000        Germany      2895.533             78.2
150  2000         France      2687.530             79.2
151  2000  Great Britain      1897.202             77.9
152  2000          Japan      1847.786             81.2
153  2000            USA      4536.561             76.7
154  2001         Canada      2624.293             79.3
155  2001        Germany      3009.368             78.5
156  2001         France      2875.294             79.3
157  2001  Great Britain      2067.167             78.2
158  2001          Japan      1945.556             81.5
159  2001            USA      4888.518             76.9
160  2002         Canada      2758.065             79.5
161  2002        Germany      3239.770             78.5
162  2002         France      3152.016             79.4
163  2002  Great Britain      2287.476             78.3
164  2002          Japan      2065.133             81.8
165  2002            USA      5316.522             77.0
166  2003         Canada      2914.206             79.6
167  2003        Germany      3329.374             78.6
168  2003         France      3056.265             79.3
169  2003  Great Britain      2469.159             78.4
170  2003          Japan      2194.437             81.8
171  2003            USA      5726.538             77.1
172  2004         Canada      3122.396             79.9
173  2004        Germany      3391.521             79.2
174  2004         France      3170.947             80.3
175  2004  Great Britain      2724.869             79.0
176  2004          Japan      2303.680             82.1
177  2004            USA      6069.530             77.6
178  2005         Canada      3291.912             80.0
179  2005        Germany      3429.955             79.4
180  2005         France      3264.574             80.4
181  2005  Great Britain      2731.445             79.2
182  2005          Japan      2471.186             82.0
183  2005            USA      6430.757             77.6
184  2006         Canada      3486.621             80.4
185  2006        Germany      3567.061             79.8
186  2006         France      3444.855             81.0
187  2006  Great Britain      2952.329             79.5
188  2006          Japan      2561.219             82.4
189  2006            USA      6808.054             77.8
190  2007         Canada      3709.615             80.5
191  2007        Germany      3750.787             80.1
192  2007         France      3588.227             81.2
193  2007  Great Britain      3021.671             79.7
194  2007          Japan      2689.916             82.6
195  2007            USA      7166.513             78.1
196  2008         Canada      3849.544             80.7
197  2008        Germany      3955.136             80.2
198  2008         France      3729.353             81.4
199  2008  Great Britain      3207.853             79.8
200  2008          Japan      2799.198             82.7
201  2008            USA      7385.026             78.1
202  2009         Canada      3945.873             80.9
203  2009        Germany      4158.266             80.3
204  2009         France      3880.842             81.5
205  2009  Great Britain      3334.506             80.4
206  2009          Japan      2971.377             83.0
207  2009            USA      7645.002             78.5
208  2010         Canada      4155.529             81.2
209  2010        Germany      4423.070             80.5
210  2010         France      4045.065             81.8
211  2010  Great Britain      3441.710             80.6
212  2010          Japan      3169.190             82.9
213  2010            USA      7879.253             78.6
214  2011         Canada      4228.962             81.4
215  2011        Germany      4566.678             80.5
216  2011         France      4161.698             82.3
217  2011  Great Britain      3495.652             81.0
218  2011          Japan      3740.756             82.7
219  2011            USA      8079.467             78.7
220  2012         Canada      4336.249             81.6
221  2012        Germany      4745.546             80.6
222  2012         France      4299.434             82.1
223  2012  Great Britain      3614.131             81.0
224  2012          Japan      3970.765             83.2
225  2012            USA      8346.064             78.8
226  2013         Canada      4428.753             81.7
227  2013        Germany      4951.677             80.6
228  2013         France      4544.964             82.3
229  2013  Great Britain      3667.636             81.1
230  2013          Japan      4308.252             83.4
231  2013            USA      8519.620             78.8
232  2014         Canada      4536.810             81.8
233  2014        Germany      5151.709             81.2
234  2014         France      4626.679             82.8
235  2014  Great Britain      3758.935             81.4
236  2014          Japan      4328.364             83.7
237  2014            USA      8925.879             78.9
238  2015         Canada      4635.285             81.9
239  2015        Germany      5295.975             80.7
240  2015         France      4667.156             82.4
241  2015  Great Britain      3805.820             81.0
242  2015          Japan      4515.556             83.9
243  2015            USA      9355.118             78.7
244  2016         Canada      5044.275             82.0
245  2016        Germany      5669.064             81.0
246  2016         France      4928.128             82.7
247  2016  Great Britain      3960.141             81.2
248  2016          Japan      4295.858             84.1
249  2016            USA      9717.649             78.7
250  2017         Canada      5150.470             81.9
251  2017        Germany      5970.163             81.1
252  2017         France      5005.756             82.7
253  2017  Great Britain      4059.125             81.3
254  2017          Japan      4412.852             84.2
255  2017            USA     10046.472             78.6
256  2018         Canada      5308.356             82.0
257  2018        Germany      6281.840             81.0
258  2018         France      5099.306             82.8
259  2018  Great Britain      4189.708             81.3
260  2018          Japan      4554.276             84.3
261  2018            USA     10451.386             78.7
262  2019         Canada      5189.721             82.2
263  2019        Germany      6407.928             81.3
264  2019         France      5167.839             82.9
265  2019  Great Britain      4385.463             81.4
266  2019          Japan      4610.794             84.4
267  2019            USA     10855.517             78.8
268  2020         Canada      5828.324             81.7
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

In [11]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [16]:
df.cov() # this will give the covariance of the dataset

/tmp/ipykernel_77/3576605813.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov() # this will give the covariance of the dataset

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [19]:
## correlation finding by pearson Correlation Coefficient
df.corr(method='pearson')

/tmp/ipykernel_77/2799184735.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [20]:
# spearman rank correlation method
df.corr(method='spearman')

/tmp/ipykernel_77/2929562665.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [23]:
df=sns.load_dataset('seaice')

In [24]:
df

            Date  Extent
0     1980-01-01  14.200
1     1980-01-03  14.302
2     1980-01-05  14.414
3     1980-01-07  14.518
4     1980-01-09  14.594
...          ...     ...
13170 2019-12-27  12.721
13171 2019-12-28  12.712
13172 2019-12-29  12.780
13173 2019-12-30  12.858
13174 2019-12-31  12.889

[13175 rows x 2 columns]

In [27]:
df.corr(method='spearman')

/tmp/ipykernel_77/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

        Extent
Extent     1.0

In [29]:
df=sns.load_dataset('flights')
df

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
5    1949   Jun         135
6    1949   Jul         148
7    1949   Aug         148
8    1949   Sep         136
9    1949   Oct         119
10   1949   Nov         104
11   1949   Dec         118
12   1950   Jan         115
13   1950   Feb         126
14   1950   Mar         141
15   1950   Apr         135
16   1950   May         125
17   1950   Jun         149
18   1950   Jul         170
19   1950   Aug         170
20   1950   Sep         158
21   1950   Oct         133
22   1950   Nov         114
23   1950   Dec         140
24   1951   Jan         145
25   1951   Feb         150
26   1951   Mar         178
27   1951   Apr         163
28   1951   May         172
29   1951   Jun         178
30   1951   Jul         199
31   1951   Aug         199
32   1951   Sep         184
33   1951   Oct         162
34   1951   Nov         146
35   1951   Dec         166
36   1952   Jan         171
37   1952   Feb         180
38   1952   Mar         193
39   1952   Apr         181
40   1952   May         183
41   1952   Jun         218
42   1952   Jul         230
43   1952   Aug         242
44   1952   Sep         209
45   1952   Oct         191
46   1952   Nov         172
47   1952   Dec         194
48   1953   Jan         196
49   1953   Feb         196
50   1953   Mar         236
51   1953   Apr         235
52   1953   May         229
53   1953   Jun         243
54   1953   Jul         264
55   1953   Aug         272
56   1953   Sep         237
57   1953   Oct         211
58   1953   Nov         180
59   1953   Dec         201
60   1954   Jan         204
61   1954   Feb         188
62   1954   Mar         235
63   1954   Apr         227
64   1954   May         234
65   1954   Jun         264
66   1954   Jul         302
67   1954   Aug         293
68   1954   Sep         259
69   1954   Oct         229
70   1954   Nov         203
71   1954   Dec         229
72   1955   Jan         242
73   1955   Feb         233
74   1955   Mar         267
75   1955   Apr         269
76   1955   May         270
77   1955   Jun         315
78   1955   Jul         364
79   1955   Aug         347
80   1955   Sep         312
81   1955   Oct         274
82   1955   Nov         237
83   1955   Dec         278
84   1956   Jan         284
85   1956   Feb         277
86   1956   Mar         317
87   1956   Apr         313
88   1956   May         318
89   1956   Jun         374
90   1956   Jul         413
91   1956   Aug         405
92   1956   Sep         355
93   1956   Oct         306
94   1956   Nov         271
95   1956   Dec         306
96   1957   Jan         315
97   1957   Feb         301
98   1957   Mar         356
99   1957   Apr         348
100  1957   May         355
101  1957   Jun         422
102  1957   Jul         465
103  1957   Aug         467
104  1957   Sep         404
105  1957   Oct         347
106  1957   Nov         305
107  1957   Dec         336
108  1958   Jan         340
109  1958   Feb         318
110  1958   Mar         362
111  1958   Apr         348
112  1958   May         363
113  1958   Jun         435
114  1958   Jul         491
115  1958   Aug         505
116  1958   Sep         404
117  1958   Oct         359
118  1958   Nov         310
119  1958   Dec         337
120  1959   Jan         360
121  1959   Feb         342
122  1959   Mar         406
123  1959   Apr         396
124  1959   May         420
125  1959   Jun         472
126  1959   Jul         548
127  1959   Aug         559
128  1959   Sep         463
129  1959   Oct         407
130  1959   Nov         362
131  1959   Dec         405
132  1960   Jan         417
133  1960   Feb         391
134  1960   Mar         419
135  1960   Apr         461
136  1960   May         472
137  1960   Jun         535
138  1960   Jul         622
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

In [31]:
df.corr(method='spearman')

/tmp/ipykernel_77/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                year  passengers
year        1.000000    0.950549
passengers  0.950549    1.000000

In [32]:
df.corr(method='pearson')

/tmp/ipykernel_77/1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000

 # note that we have lots of dataset in seaborn library